/* Global Styles */

html,
body {
  height: 100%;
  width: 100%;
}

.mycolor-brown{
	background: #8C7547;
}

.mycolor-green{
	background: #515B51;
}

.mycolor-orange{
	background: #EFA747;
}

.mycolor-bar{
	background:rgba(65,44,26,1.00)
}
.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.vert-text h1 {
  padding: 0;
  margin: 0;
  font-size: 4.5em;
  font-weight: 700;
}

/* Side Menu */

#sidebar-wrapper {
    margin-right: -250px;
    right: 0;
    width: 250px;
    background-color: rgba(91,65,49,0.90);
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    border-radius: 30px 0px 0px 30px;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 60px;
  text-indent: 20px;
}

.sidebar-nav li a {
    color: #FFE290;
    display: block;
    text-decoration: none;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    text-align: left;
    font-size: 1.8rem;
    padding-left: 20px;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 55px;
  line-height: 55px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
    color: #EFA747;
    font-size: 18px;
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #FFF;
    background: none;
    font-weight: bolder;
	font-size: 20px;

}

#menu-toggle {
  top: 0;
  right: 0;
  position: fixed;
  z-index: 1;
}

#sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.toggle {
  margin: 5px 5px 0 0;
}

/* Full Page Image Header Area */

.header {
    display: table;
    height: 600px;
    width: 100%;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #EFA747;
}


/* Services */

.services {
  background: #8C7547;
  padding: 50px 0;
  color: #ffffff;
}
.about { 
  padding: 50px 0;
    color: #ffffff;
    background-color: #515B51;
}

.ani,.web,.other,.graphic {
  padding: 10px 0;
}

.service-item {
  margin-bottom: 15px;
}

span.service-icon {
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  font-size: 56px;
  width: 140px;
  height: 140px;
  line-height: 136px;
  vertical-align: middle; 
  text-align: center;
}

/* Callout */

.callout {
    color: #ffffff;
    display: table;
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center fixed;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url(../images/bg/a0R13Nq_700b.jpg);
}
.callout1 {
    color: #ffffff;
    display: table;
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center fixed;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url(../images/bg/2.jpg);
}
.callout2 {
    color: #ffffff;
    display: table;
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center fixed;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url(../images/bg/3.jpg);
}
.callout0 {
    color: #ffffff;
    display: table;
    height: 40px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center fixed;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url(../images/bg/a0R13Nq_700b.jpg);
}

.callout3 {
    color: #ffffff;
    display: table;
    height: 20px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center fixed;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url(../images/bg/a0R13Nq_700b.jpg);
}

.callout4 {
    color: #ffffff;
    display: table;
    height: 50px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center fixed;
    background-attachment: fixed;
    background-size: cover;
    background-color:#8C7547;
}

.callout5 {
    color: #ffffff;
    display: table;
    height: 15px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center fixed;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url(../images/bg/a0R13Nq_700b.jpg);
}

.callout6 {
    color: #ffffff;
    display: table;
    height: 20px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center fixed;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #AB7744;
}

.callout7 {
    color: #ffffff;
    display: table;
    height: 10px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center fixed;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url(../images/bg/a0R13Nq_700b.jpg);
}

.callout8 {
    color: #ffffff;
    display: table;
    height: 5px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center fixed;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #EFA747;
}



/* Portfolio */

.portfolio {
  padding: 50px 0;
}

.portfolio-item {
  margin-bottom: 25px;
}

.img-portfolio {
  margin: 0 auto;
}


/* Call to Action */

.call-to-action {
  color: #ffffff;
  background: #0a5175;
  padding: 50px 0;
}

.call-to-action .btn {
  margin: 10px;
}


.top-scroll {
  margin-top: 50px;
}

.top-scroll a {
  text-decoration: none;
  color: inherit;
}

i.scroll {
  color: #333333;
}

i.scroll:hover {
  color: #0a5175;
}

.media-object{
	border: 1px solid rgba(114,114,114,1.00);
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 3px;
	margin-top: 5px;
	margin-left: 5px;
  }
/* Responsive */

.logo{
	width:100%;
	height: 100%;
	margin: auto;
}

@media (max-width: 768px) {
	
  .header {
	 height: 300px;
  }

  .map {
	height: 75%;
  }
  .media-object{
	  transform:scale(0.5);
	  margin-left:-50px;
	  margin-right:-50px;
	  margin-top:-60px;
  }
  .img-rounded{
	  transform:scale(0.8);
	  margin-left:auto;
	  margin-right:auto;
  }
  .card-body p{
		display: none;
  }
  .card{
	  transform: scale(0.7);
	  margin:-12% auto -12%;
  }
  .logo{
	width:100%;
	height: 100%;
	margin: auto;
	padding-top: 50px;
}
}

.h_gallery_item .hover .mylight {
  color: #fff;
  font-size: 30px;
  opacity: 0;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.h_gallery_item:hover .hover .mylight {
  opacity: 1;
}

.about .block {
  background: #242930;
  padding: 30px;
  border-bottom: 2px solid transparent;
  transition: .5s all;
  margin-bottom: 20px;
}

.about .block:hover {
  border-bottom: 2px solid #57cbcc;
}

.about .block:hover .icon-box {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.about .block .icon-box {
  position: relative;
  width: 160px;
  height: 92.38px;
  background-color: transparent;
  margin: 46.19px auto 60px;
  padding: 20px 0;
  border-left: 2px solid rgba(236, 239, 241, 0.07);
  border-right: 2px solid rgba(236, 239, 241, 0.07);
  font-size: 50px;
  -webkit-transform: translateZ(0px);
          transform: translateZ(0px);
  transition-duration: 0.3s;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.about .block .icon-box:after, .about .block .icon-box:before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 113.14px;
  height: 113.14px;
  background-color: inherit;
  left: 20.4315px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
          transform: scaleY(0.5774) rotate(-45deg);
}

.about .block .icon-box:before {
  top: -56.5685px;
  border-top: 2px solid rgba(236, 239, 241, 0.07);
  border-right: 2px solid rgba(236, 239, 241, 0.07);
}

.about .block .icon-box:after {
  bottom: -56.5685px;
  border-bottom: 2px solid rgba(236, 239, 241, 0.07);
  border-left: 2px solid rgba(236, 239, 241, 0.07);
}

.about .block .icon-box h3 {
  color: #afbac4;
}

.about-2 .content-block {
  padding: 40px;
}

.about-2 .content-block .media {
  margin-top: 25px;
}

.about-2 .content-block .media .pull-left {
  padding-right: 15px;
}

.about-2 .content-block .media i {
  font-size: 30px;
  color: #57cbcc;
}

.about-2 .content-block .media h4 {
  font-size: 16px;
  font-weight: 600;
}


/*=================================================================
  Our Team
==================================================================*/
.team-member {
    background-color: #292F36;
    /* [disabled]margin-bottom: 10px; */
}

.team-member:hover .mask {
  cursor: pointer;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: rotateY(0deg) scale(1, 1);
          transform: rotateY(0deg) scale(1, 1);
}

.member-photo {
  overflow: hidden;
  position: relative;
}

@media (max-width: 768px) {
  .member-photo {
    text-align: center;
  }
}

.member-photo:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.member-photo img {
  transition: all 0.4s ease 0s;
}

@media (max-width: 768px) {
  .member-photo img {
    display: inline-block;
  }
  
}

.member-photo .mask {
    background-color: rgba(200,171,97,0.70);
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    transition: all .5s ease-out 0s;
    -webkit-transform: rotateY(180deg) scale(0.5, 0.5);
    transform: rotateY(180deg) scale(0.5, 0.5);
}

.member-photo .mask ul {
    text-align: center;
    position: relative;
    top: 50%;
	margin-top: -15px;
}

/*-老師救命 無法符號置中*/
.member-photo .mask ul li a {
  color: #fff;
  display: block;
  font-size: 30px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  width: 35px;
  top: 120px;
}

.member-photo .mask ul li a:hover {
    color: #324642;
}

.member-meta {
  padding: 15px;
}

.member-meta h4 {
  margin: 0 0 5px;
}

.member-meta span {
  font-size: 12px;
}
